name: Build Binary
on:
  push:
    branches:
      - master
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'setup.py'
      - '.github/workflows/build.yml'
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: |
            pyproject.toml
      - name: Setup project
        run: |
          pip install -e .[build]
      - name: Build
        run: |
          pyinstaller ottd-prayer.spec
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: ottd-prayer-ubuntu
          path: dist/ottd-prayer
          if-no-files-found: error
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: |
            pyproject.toml
      - name: Setup project
        run: |
          pip install -e .[build]
      - name: Build
        run: |
          pyinstaller ottd-prayer.spec
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: ottd-prayer-windows
          path: dist/ottd-prayer.exe
          if-no-files-found: error
  alpine:
    runs-on: ubuntu-latest
    container:
      image: python:3.10-alpine
    steps:
      - uses: actions/checkout@v3
      - name: Setup project
        run: |
          pip install -e .[build]
      - name: Build
        run: |
          apk add binutils
          pyinstaller ottd-prayer.spec
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: ottd-prayer-alpine
          path: dist/ottd-prayer
          if-no-files-found: error

